.end-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .adventure-title {
    font-size: 4em;
    width: 100%;
    margin-top: 20px;
    // margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e31837;

    @media (max-width: 580px) {
      font-size: 2.8em;
    }
    @media (max-width: 350px) {
      font-size: 2em;
    }
  }

  .end-content-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    .message {
      margin-top: 50px;
      font-size: 5em;
      width: 80%;
      @media (max-width: 580px) {
        font-size: 3em;
      }
    }

    .final-results-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;

      .results-message {
        font-size: 2em;
        margin-bottom: 15px;

        @media (max-width: 350px) {
          font-size: 1.7em;
        }
      }

      .final-results {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        font-size: 1.4em;
        @media (max-width: 350px) {
          font-size: 1em;
        }
      }
    }
    .start-over-link {
      text-decoration: none;
      padding: 10px;
      background-color: grey;
      color: white;
      // text-align: center;
      font-size: 2em;
      margin-top: 35px;
      width: 15vw;
      border-radius: 20px;
      margin-bottom: 80px;
      @media (max-width: 350px) {
        width: 45vw;
      }

      &:hover {
        background-color: #e31837;
        color: white;
      }

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}
