.adventure-page-wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .adventure-title {
    font-size: 4em;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e31837;

    @media (max-width: 760px) {
      font-size: 3em;
      margin-bottom: 60px;
    }

    @media (max-width: 580px) {
      font-size: 2em;
      margin-bottom: 0px;
    }
  }

  .page-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 100%;

    @media (max-width: 580px) {
      flex-direction: column;
      align-items: center;
    }

    .user-stats-wrapper {
      border: 8px black solid;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      margin-left: 25px;
      margin-right: 25px;
      width: 350px;
      // height: 250px;
      background-color: #165ca8;
      // padding: 20px;
      color: white;

      @media (max-width: 760px) {
        margin-left: 20px;
        margin-right: 20px;
        width: 325px;
      }
      @media (max-width: 580px) {
        flex-direction: row;
        width: 95%;
        margin-bottom: 15px;
        justify-content: space-around;
        border: 4px solid black;
      }

      .user-stats-title {
        border-bottom: 8px solid black;
        // padding-left: 20px;
        // padding-right: 20px;
        // margin-left: 15px;
        // height: 50px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
        font-size: 2.1em;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 760px) {
          font-size: 1.8em;
        }
        @media (max-width: 580px) {
          display: none;
        }
      }

      .health-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
        border-bottom: 8px black solid;
        font-weight: 900;

        @media (max-width: 760px) {
          font-size: 1.2em;
        }
        @media (max-width: 580px) {
          border-bottom: none;
          border-right: 4px solid black;
          font-size: 0.8em;
          width: 100%;
        }
      }

      .security-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
        font-weight: 900;
        border-bottom: 8px black solid;

        @media (max-width: 760px) {
          font-size: 1.2em;
        }
        @media (max-width: 580px) {
          border-bottom: none;
          border-right: 4px solid black;
          font-size: 0.8em;
          width: 100%;
        }
      }
      .points-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
        font-weight: 900;
        border-bottom: 8px black solid;

        @media (max-width: 760px) {
          font-size: 1.2em;
        }
        @media (max-width: 580px) {
          border-bottom: none;
          border-right: 4px solid black;
          font-size: 0.8em;
          width: 100%;
        }
      }
      .family-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 1.5em;
        font-weight: 900;

        @media (max-width: 760px) {
          font-size: 1.2em;
        }
        @media (max-width: 580px) {
          // border-bottom: none;
          // border-right: 4px solid black;
          font-size: 0.8em;
          width: 100%;
        }
      }
    }

    .content-wrapper {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: center;

      .adventure-content {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.7em;

        @media (max-width: 760px) {
          font-size: 1.3em;
        }

        span {
          color: #e31837;
        }
      }
      .adventure-choice-button-wrapper {
        width: 100%;
        // padding-left: 20px;
        // padding-right: 40px;
        padding-top: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;

        .adventure-button {
          text-decoration: none;
          padding: 10px;
          background-color: grey;
          color: white;
          // text-align: center;
          font-size: 2em;
          margin-top: 35px;
          width: 15vw;
          border-radius: 20px;

          @media (max-width: 760px) {
            font-size: 1.3em;
          }
          @media (max-width: 580px) {
            // font-size: 1em;
            width: 25vw;
          }

          &:hover {
            background-color: #e31837;
            color: white;
          }
        }
      }
    }
  }
  // .logo {
  //   position: absolute;
  //   height: 10vh;
  //   top: 0;
  //   left: 0;

  //   img {
  //     height: 20vh;
  //   }
  // }
}
